
#navbarNav{
    font-size: 30px; 
}

#filtro{
    filter: brightness(50%);

}

#botoncar{
    background-color: rgb(39, 168, 68);
}
footer{
    background-color: rgb(29, 58, 74);
    
}
#botonfor{
    background-color: rgb(150, 201, 62);
    color:white;
    font-size:30px
}



